@import "tailwindcss";

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #6366f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #818cf8;
}
